{% extends 'base.html' %}

{% block content %}
    <style>
        .comment-head {
            margin-bottom: 3px;
        }

        .comment {
            margin-top: 0px;
        }

        .commenter {
            margin: 0px;
        }

        .images {
            border-radius: 10px;
        }

    </style>

    <h1>Details</h1>
    <img class="images" src="{{ product.image.url }}" height="300">
    <h3>{{ product.name }}</h3>
    <p>Category:{{ product.category }}</p>
    <h4>Price:{{ product.price }}$</h4>
    <p>Seller:<a href="{% url 'Profile' product.seller_id %}">{{ product.seller }}</a></p>
    <br>
    <h5>About</h5>
    <hr>
    <p>{{ product.description }}</p>

    {% if request.user == product.seller %}
        <a href="{% url 'EditProduct' product.pk %}">Edit</a>
        <a href="{% url 'delete_product' product.pk %}">Delete</a>
    {% endif %}

    {% if request.user != product.seller %}
        <a href="#">
            <button>Order</button>
        </a>
    {% endif %}
        <br>
        <br>
        <a href="{% url 'AddComment' product.pk %}">Add comment</a>
    {% if request.user.is_authenticated %}

    {% endif %}
    <br>
    <br>
    <h5>Comments</h5>
    <hr>
    {% for comment in comments %}
        <h6 class="comment-head">
            <p class="commenter">Commenter:
                <a href="{% url 'Profile' product.seller_id %}">{{ comment.account.username }}</a>
                {% if comment.account == request.user %}
                    <a href="{% url 'EditComment' product.pk %}">Edit </a>
                    <a href="{% url 'delete_comment' product.pk %}">Delete</a>
                {% endif %}
            </p>
        </h6>
        <p class="comment">{{ comment.comment }}</p>
    {% endfor %}
{% endblock content %}